<launch>

  <node pkg="amcl" type="amcl" name="localizer" output="screen">
    <remap from="scan" to="base_scan" />
  </node>

  <node pkg="move_base" type="move_base" respawn="false" name="mover" output="screen">
    <rosparam file="$(find simple_nav)/launch/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find simple_nav)/launch/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find simple_nav)/launch/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find simple_nav)/launch/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find simple_nav)/launch/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find simple_nav)/launch/plugins.yaml" command="load" ns="/mover/global_costmap" />
  </node>

  <!-- <node pkg="simple_nav" type="path_collect.py" name="path_collector" output="screen"/> -->

</launch>